<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>What's next - Logout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8 d-flex justify-content-center px-5 pt-5 pb-3">
				<h1>Are you sure to log out?</h1>
			</div>
			<div class="col-6 row justify-content-center px-5">
				<div class="col-6 py-2 px-3">
					<form id="logoutForm" th:action="@{/logout}" method="post">
						<div class="m-2 p-2 d-flex justify-content-evenly">
							<button class="btn btn-secondary" type="submit" id="logoutBtn">Yes</button>
							<a class="btn btn-secondary" th:href="@{/}">No</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		var updateLoginDateURL = '[[@{/updateLastLoginDate}]]';
	</script>
	<script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
	<script th:src="@{/js/logout.js}"></script>
</body>
</html>