<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Navigation bar fragment</title>
	</head>
	<body>
		
		<div th:fragment="navbar">
			<nav>
				<div class="navbar-collapse">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">Home</a>
					  	</li>
					  	<li class="nav-item">
					    	<a class="nav-link" href="/task-list">Task list</a>
					  	</li>
					  	<li th:if="${isAdmin} == true">
							<a class="nav-link" href="/user-list">Admin page</a>
						</li>
					  	<li class="nav-item">
					    	<a class="nav-link" href="/logout">Logout</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</body>
</html>