<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('What\'s next - User List')"></head>
<body>
	<div th:replace="fragments :: navbar"></div>
	<div class="container-fluid mx-2 px-5">
		<table class="table my-4">
			<thead>
				<tr>
					<th scope="col" style="width: 11%">Name</th>
					<th scope="col" style="width: 34%">Email</th>
					<th scope="col" style="width: 10%">Register date</th>
					<th scope="col" style="width: 10%">Last login date</th>
					<th scope="col" style="width: 6%"><a class="sort"
						th:classappend="${ascending} ? 'ascend' : (${ascending == false} ? 'descend' : '')"
						th:href="@{/user-list/} + ${pageNum} + (${ascending} ? '?ascending=false' : (${ascending == false} ? '' : '?ascending=true'))">Role</a></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, status: ${users}">
					<td th:text="${user.userName}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.registerDate}"></td>
					<td th:text="${user.lastLoginDate}"></td>
					<td th:text="${user.role}"></td>
					<td><a type="button" class="btn btn-success mx-2"
						href="/send-mail"> Send e-mail </a> <a type="button"
						class="btn btn-warning mx-2" href="#"> Change role </a> <a
						type="button" class="btn btn-danger mx-2" href="#"> Remove </a></td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-center mx-auto page-nav-bar my-4"
			th:if="${totalPage > 1}">
			<a
				th:href="@{/user-list/1} + (${ascending} ? '?ascending=true' : (${ascending == false} ? '?ascending=false' : ''))">&laquo;</a>
			<th:block th:each="number : ${#numbers.sequence(1, totalPage)}">
				<a
					th:href="@{/user-list/} + ${number} + (${ascending} ? '?ascending=true' : (${ascending == false} ? '?ascending=false' : ''))"
					th:classappend="${number == pageNum} ? 'active' : ''"
					hidden="hidden">[[${number}]]</a>
			</th:block>
			<a
				th:href="@{/user-list/} + ${totalPage} + (${ascending} ? '?ascending=true' : (${ascending == false} ? '?ascending=false' : ''))">&raquo;</a>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script>
		var pageNum = parseInt('[[${pageNum}]]');
		var totalPage = parseInt('[[${totalPage}]]');
		enablePagination(pageNum, totalPage);
		toggleSortIcon();
	</script>
</body>
</html>