<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head ('What\'s next - User List')"></head>
	<body>
	
		<div th:replace="fragments :: navbar"></div>
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Register date</th>
					<th scope="col">Last login date</th>
					<th scope="col">Role</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, status: ${users}">
					<th scope="row" th:text="${status.index}+1"/>
					<td th:text="${user.userName}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.registerDate}"></td>
					<td th:text="${user.lastLoginDate}"></td>
					<td th:text="${user.role}"></td>
					<td>
						<a type="button" class="btn btn-success" 
							href="/send-mail">
							Send mail
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		<script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>