<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Welcome</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
		
	</head>
	<body>
	
		<!-- Navigation bar -->
		<nav>
			<div class="navbar-collapse">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" href="#">Task list</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" href="#">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<p th:text="'Hello, ' + ${name} + '!'"/>
		
		<!-- 
		<p data-th-text="#{home.welcome}">Welcome to our grocery store!</p>
	 	-->
	 	
	<script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
	</body>
</html>