@charset "UTF-8";

.btn {
	font-size: 20px;
}

.nav-link {
	padding: 0.5rem 3rem;
	font-size: 20px;
	color: #555753;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: white;
	background-color: #555753;
}

.first-task-div {
	border-left: thick solid red;
}

.second-task-div {
	border-left: thick solid orange;
}

.third-task-div {
	border-left: thick solid green;
}

.forth-task-div {
	border-left: thick solid blue;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: white;
	cursor: pointer;
	width: 75%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 24px;
	font-weight: inherit;
}

.collapsible:after {
	content: '+'; /* Unicode character for "plus" sign (+) */
	font-size: 24px;
	font-weight: bold; 
	float: right;
}

.collapse-active:after {
	content: '-'; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 1500px;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.content ul li {
	margin: 12px 0px;
	font-size: 20px;
}

.date {
	font-style: italic;
}

.page-nav-bar a {
	padding: 0px 8px;
	font-size: 18px;
	color: #555753;
	text-decoration: none;
}

.page-nav-bar a.active {
	text-decoration: underline;
}

.table {
	font-size: 18px;
	vertical-align: middle;
}

.sort {
	color: black;
	text-decoration: none;
}

.sort:hover {
	color: gray;
	cursor: pointer;
}

.sort:after {
	content: '\02796';
	padding-left: 5px;
}

.sort.ascend:after {
	content: '\025B2';
	padding-left: 5px;
}

.sort.descend:after {
	content: '\025BC';
	padding-left: 5px;
}

.form, .form .form-control {
	font-size: 18px;
}